.dash-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
}

.logout-button {
    color: purple;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: all 0.2s;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
}

.logout-button:hover {
    background-color: blue;
}

.dash-button {
    color: red;
}

.dash-button:hover {
    background-color: gray;
}


