@import url('fonts.css');

footer {
    width: 100%;
    text-align: left;
    padding: 10px;
    background: linear-gradient(to right, #131210 0%, #131210 100%);
    color: white;
    border-top: 1px solid #28272c;
    font-family: "JetBrainsMono-Italic", monospace;
}

