footer {
    width: 100%;
    text-align: left;
    padding: 10px;
    background: linear-gradient(to right, #131210 0%, #131210 100%);
    color: white;
    border-bottom: 0.5px solid rgb(226, 216, 216);
}

