@import url('fonts.css');

.hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "JetBrainsMono-Bold", sans-serif;
}

.hero-gradient {
    flex: 1;
    padding: 5rem 0;
    background: linear-gradient(to right, #e3e3e3 0%, #e3e3e3 100%);
    min-height: calc(100vh - 64px);
}

.hero-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
    color: #1f2936;
    font-family: 'JetBrainsMono-Bold', sans-serif;
    line-height: 1;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #e3e3e3;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #e3e3e3;
}

.hero-button {
    position: relative;
    margin-top: 40px;
    background-color: white;
    color: #1f2936;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition: background-color 0.2s;
}

.hero-button:hover {
    background-color: #f3f4f6;
}

.announcement-section {
    width: 100%;
    height: 200px;
    position: relative;
    background:  black;
    border: 1px solid #28272c;
}


.mission {
    position: relative;
    background:  black;
    border: 1px solid black;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mission-title {
    font-size: 30px;
    font-family: "JetBrainsMono-ExtraLightItalic", sans-serif;
    position: absolute;
    color:  white;
    font-weight: 400;
    font-style: normal;
    margin-right: 15%;
    margin-top: 1%;
}

.mission-paragraph {
    font-size: 17px;
    font-family: "JetBrainsMono-ExtraLightItalic", sans-serif;
    position: absolute;
    color:  #8a8f98;
    font-weight: 400;
    font-style: normal;
    margin-right: 20%;
    margin-top: 5%;
    line-height: 1.5;
}

.mission-pic {
    position: relative;
    width: 25%;
    height: auto;
    color: transparent;
    flex-shrink: 0;
    margin-left: 20%;
    filter: grayscale(100%);
}

.team {
    position: relative;
    background:  black;
    border-top: 1px solid  #8a8f98;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "JetBrainsMono-Italic", monospace;
}

.team-title {
    font-size: 30px;
    font-family: "JetBrainsMono-ExtraLightItalic", sans-serif;
    position: absolute;
    color:  white;
    font-weight: 400;
    font-style: normal;
    margin-right: 15%;
    margin-bottom: 10%;
}